<p-table [value]="tickets">
    <ng-template pTemplate="header">
        <tr>
            <th></th>
            <th>Gesamt</th>
            <th *ngFor="let day of days">
                {{day.date}}
            </th>
        </tr>
    </ng-template>
    <ng-template pTemplate="body" let-values>
        <tr>
            <td>GoldenVipTicket </td>
            <td>{{values[0]}}</td>
            <td *ngFor="let day of days">
                {{getTicketCountForDay(ticketsGVT,day.id)}}
            </td>
        </tr>
        <tr>
            <td>DaysaverTicket</td>
            <td>{{values[1]}}</td>
            <td *ngFor="let day of days">
                {{getTicketCountForDay(ticketsDS,day.id)}}
            </td>
        </tr>
        <tr>
            <td>BoxTicket</td>
            <td>{{values[2]}}</td>
            <td *ngFor="let day of days">
                {{getTicketCountForDay(ticketsB,day.id)}}
            </td>
        </tr>
        <tr>
            <td>PlayerspartyTicket</td>
            <td>{{values[3]}}</td>
            <td *ngFor="let day of days">
                {{getTicketCountForDay(ticketsPP,day.id)}}
            </td>
        </tr>
    </ng-template>
</p-table>
